@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root{
    --blue: #1877F2;
    --bg-color: #F0F2F5;;
}

html{
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-color);
}
body{
    padding: 0px;
    margin: auto;
    
    
}
#main-page{
    padding: 0px;
    margin: 0px;
}
#login-screen-main-page{
    padding: 0px;
    margin: auto;
    min-height: 70vh;
    display:flex;
    align-items: center;
    width: calc(100% - 200px);
}
#left-panel{
    
}
#right-panel{
    
}
#footer-main-page{
    min-height: 30vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
h1{
    color: var(--blue);
    font-weight: 800;
    font-size: 4em;
    font-family:  "Open Sans", sans-serif;
}